################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gamemain/FileContentIndex/496cc689-1859-43c1-9341-10dc070408c1.vsidx
/.vs/gamemain/FileContentIndex/18a05433-eede-4291-90a6-15f08b41abd5.vsidx
